@model COMP2007_FinalProject_HastyTaste.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}
<div class="spacer"></div>
<div class="container">
    <div class="menu-container">
        <h3>
            <em>Review</em> your cart:
        </h3>
        <p class="superbutton">
            @Html.ActionLink("Checkout >>", "AddressAndPayment", "Checkout")
        </p>
        <div id="update-message">
        </div>
        <table>
            <tr>
                <th>
                    Item Name
                </th>
                <th>
                    Price (each)
                </th>
                <th>
                    Quantity
                </th>
                <th></th>
            </tr>
            @foreach (var item in
        Model.CartItems)
            {
                <tr id="row-@item.RecordId">
                    <td>
                        @Html.ActionLink(item.MenuItem.Title, "Details", "Store", new { id = item.ItemId }, null)
                    </td>
                    <td>
                        $@item.MenuItem.Price
                    </td>
                    <td id="item-count-@item.RecordId">
                        @item.Count
                    </td>
                    <td>
                        <p class="minibutton">
                            <a href="#" class="RemoveLink"
                               data-id="@item.RecordId">
                                Remove
                                from cart
                            </a>
                        </p>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    Total
                </td>
                <td></td>
                <td></td>
                <td id="cart-total">
                    $@Model.CartTotal
                </td>
            </tr>
        </table>
            <a href="@Url.Action("../MenuItems/Index")" class="superbutton" title="Back to menu">
                <i class="fa fa-arrow-left"></i> Back to Menu
            </a>
    </div>
</div>