@using COMP2007_FinalProject_HastyTaste.Models
@model IEnumerable<MenuItem>

@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}

@{
    ViewBag.Title = "Menu";
}



    <div class="spacer"></div>
    <div class="container">
        <div class="menu-container">
            <h2>Menu</h2>

            
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
       

            <table class="table table-responsive table-hover">

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            <a href='@Url.Action("Details", "MenuItems", new { id = item.ID })'>
                                <img src="~/Assets/thumbs/@item.ItemThumbnail" />
                            </a>
                        </td>
                        <td>
                            <strong>@Html.DisplayFor(modelItem => item.Title)</strong>
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>

                        <td>
                            <strong>$@Html.DisplayFor(modelItem => item.Price)</strong>
                        </td>

                        <td>
                            
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        
                            <a href="@Url.Action("Details", new { id = item.ID })" class="btn btn-default" title="Details">
                                <i class="fa fa-plus"></i> Details
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("AddToCart", new { id = item.ID })" class="btn btn-default" title="Add Item">
                                <i class="fa fa-shopping-cart"></i> Add Item
                            </a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
